{% extends 'header.html' %}
{% load static %}
{% block content%}
<!DOCTYPE html>

<html lang="en">
    <head>
    </head>
  <body>
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: -20px;margin-bottom: -30px;">
                    <div class="product-bit-title text-center">
                        <h2>Product Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="{% url 'seller_index' %}">Home</a>
                            <a href="">{{product.product_company}}</a>
                            <a href="">{{product.product_model}}</a>
                        </div>
                                                             
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="{{product.product_image.url}}" alt="" style="width:400px;" height="400px;">
                                    </div>
                                </div>
                            </div>
                            <h2><a href="">{{product.product_company}}  {{product.product_model}}</a></h2>
                                <div class="product-sidebar-price">
                                <ins>Rs. {{product.product_price}}</ins>
                                </div>      
                                <br><br>
                                    {% if wishlist_flag %}
                                         <a href="{% url 'remove_from_wishlist' pk=product.pk %}"><button class="btn btn-danger" style="background-color:red;"  type="submit">Remove From Wishlist</button></a>
                                    {% else %}
                                         <a href="{% url 'add_to_wishlist' pk=product.pk %}"><button class="add_to_cart_button" type="submit">Add To Wishlist</button></a>
                                    {% endif %}
                                        <a href="{% url 'add_to_cart' pk=product.pk %}"><button class="add_to_cart_button" type="submit">Add To Cart</button></a>
                                        <br><br>                                
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>  
                                                <p>{{product.product_desc}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>                    
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
{% endblock %}